.DS_Store
/*.box
/.vagrant
/iso
/output*
/packer_cache
/vendor
/tooling/.DS_Store
/tooling/*.box
/tooling/.vagrant
/tooling/iso
/tooling/*.iso
/tooling/output*
/tooling/packer_cache
/tooling/vendor
/ubuntu_jammy64
