.DS_Store
/*.box
/.vagrant
/iso
/output*
/packer_cache
/vendor
/part1/.DS_Store
/part1/*.box
/part1/.vagrant
/part1/iso
/part1/output*
/part1/packer_cache
/part1/vendor
/tooling/.DS_Store
/tooling/*.box
/tooling/.vagrant
/tooling/iso
/tooling/*.iso
/tooling/output*
/tooling/packer_cache
/tooling/vendor
